@import "tailwindcss";

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes signalMove {
  0% {
    left: 15%;
    opacity: 1;
  }
  95% {
    left: 85%;
    opacity: 1;
  }
  100% {
    left: 85%;
    opacity: 0;
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}

